/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-background-color: black;
}
.backgroundColor{
		-fx-background-color: black;
		
	}
.button {
    -fx-background-color: #4e8166; /* Couleur de fond vert */
    -fx-text-fill: white; /* Couleur du texte blanc */
    -fx-font-size: 16px; /* Taille de la police */
    -fx-font-weight: bold; /* Texte en gras */
    -fx-padding: 10px 20px; /* Espacement du contenu à l'intérieur du bouton */
    -fx-effect: dropshadow(one-pass-box, rgba(0, 255, 0, 0.75), 10, 0.5, 0, 0); /* Ombre portée verte claire */
    -fx-align: center;
}


.delete-button {
    -fx-background-color: #be3946; /* Couleur de fond rouge */
    -fx-effect: dropshadow(one-pass-box, rgba(0, 255, 0, 0.75), 0, 0.5, 0, 0); /* Ombre portée verte claire */
    -fx-text-fill: white; /* Couleur du texte blanc */
    -fx-font-size: 9px; /* Taille de la police */
    -fx-font-weight: bold; /* Texte en gras */
    -fx-padding: 5px 5px
}

#ButtonValider{
	-fx-background-color: #4e8166; /* Couleur de fond vert */
    -fx-text-fill: white; /* Couleur du texte blanc */
    -fx-font-size: 16px; /* Taille de la police */
    -fx-font-weight: bold; /* Texte en gras */
    -fx-padding: 10px 20px; /* Espacement du contenu à l'intérieur du bouton */
    -fx-effect: dropshadow(one-pass-box, rgba(0, 255, 0, 0.75), 15, 0.5, 0, 0); /* Ombre portée verte claire */
    -fx-align: center;
}

.buttonTransparent {
    -fx-background-color: #4e8166; /* Couleur de fond vert */
    -fx-text-fill: black; /* Couleur du texte blanc */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-font-weight: bold; /* Texte en gras */
    -fx-padding: 10px 20px; /* Espacement du contenu à l'intérieur du bouton */
     -fx-effect: dropshadow(one-pass-box, rgba(0, 255, 0, 0.75), 0, 0.5, 0, 0); /* Ombre portée verte claire */
    
}

/* Style pour la barre de menu */
 .menu-bar {
   -fx-background-color: #4e8166; /* Couleur de fond gris foncé */
    -fx--fond-weight:bold ;
   -fx-font-family: "Nunito";
       -fx-effect: dropshadow(one-pass-box, rgba(0, 255, 0, 0.75), 10, 0.5, 0, 0); /* Ombre portée verte claire */
   
}
.list-view .list-cell {
    -fx-background-color: #4e8166; /* Couleur de fond des cellules de la liste */
    
}

.menu {
    /*-fx-background-color: #4e8166;*/ /* Couleur de fond gris foncé */
    -fx--fond-weight:bold ;
    -fx-text-fill: white; /* Couleur du texte blanc */
    -fx-font-family: "Nunito";
}

/* Style pour les éléments de menu */
.menu-item {
    -fx-text-fill: white; 
    /*-fx-background-color: #4e8166;*/
}
.progress-bar-x {
    -fx-background-color: transparent; /* Couleur de fond transparente */
    -fx-accent: #000000; /* Couleur principale de la ProgressBar */
}

/* Style du trait de progression */
.progress-bar-x .bar {
    -fx-background-color: #4e8166; /* Couleur du trait de progression */
}

/* Style du texte affichant la progression */
.progress-bar-x .text {
    -fx-fill: white; /* Couleur du texte */
    -fx-font-size: 12px; /* Taille de la police */
}


/* Style de la ProgressBar */
.progress-bar-o {
    -fx-background-color: transparent; /* Couleur de fond transparente */
    -fx-accent: #000000; /* Couleur principale de la ProgressBar */
}

/* Style du trait de progression */
.progress-bar-o .bar {
    -fx-background-color: #be3946; /* Couleur du trait de progression */
}

/* Style du texte affichant la progression */
.progress-bar-o .text {
    -fx-fill: white; /* Couleur du texte */
    -fx-font-size: 12px; /* Taille de la police */
}


.ecritureJoueur{
	-fx-font-family: "Nunito";
    -fx-font-size: 14px; /* Taille de la police */
    -fx-font-weight: bold; /* Texte en gras */
    -fx-padding: 10px 20px; /* Espacement du contenu à l'intérieur du bouton */
	
}



